@use 'sass:color';
@use 'src/styles/vars';

.infos {
  margin: 0 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border-top: solid 0.1rem black;

  & img {
    width: 100%;
  }

  & h2 {
    margin: 1rem 0 2.5rem;
  }

  & .ui.button {
    width: 80%;
    margin-bottom: 1rem;
    text-align: center;
  }

  &-content {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .infos-button {
  background-color: vars.$infosbutton;
  border: 2px solid color.scale(vars.$infosbutton, $lightness: -20%);
  text-align: center;
  align-items: center;
  transition: all .2s ease-in-out;


    &:hover {
      background-color: color.scale(vars.$infosbutton, $lightness: -10%);
      border: 2px solid color.scale(vars.$infosbutton, $lightness: -30%);
      box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.3);
        
    }

    &:focus {
      background-color: vars.$infosbutton;
      border: 2px solid color.scale(vars.$infosbutton, $lightness: -20%);


    }
  }
}

