@use 'src/styles/vars';

.app {
    width: 100%;
    background-color: vars.$backgroundColor;
}

.ui.message, .ui.positive.message, .ui.negative.message{
    width: 80%;
    margin: 1rem auto 1rem;
    text-align: center;
}

/* Desktop */
@media (min-width: 900px) {
 
  
  #root {
    background-color: vars.$backgroundDesktopColor;
    -webkit-box-shadow: 5px 5px 15px 20px #000000; 
    box-shadow: 5px 5px 15px 20px #000000;
  };  
  
  .app {
        width: 70%;
        margin: auto;
        -webkit-box-shadow: 0px 0px 10px -2px #000000; 
        box-shadow: 0px 0px 10px -2px #000000;
    }

    .ui.message, .ui.positive.message, .ui.negative.message{
        width: 50%;
    }
}