.ui.message.inprogress-message {
  width: 85%;
  margin: 2rem auto;

  & .content>.header {
    margin-bottom: 1rem ;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .ui.message.inprogress-message {
    width: 60%;
    margin: 2rem auto;

  }

}