$councilButtonColor: #7fd30042;
$articleButtonColor: #d3258d41;
$warningButtonColor: #f8a11e49;
$schoolButtonColor: #0070c53f;
$homepageButtonColor: #E0E1E2;
$adminButtonColor: #a0a0a08e;

$statusOkColor: #8dd797;
$statusInProgressColor: #F3C19D;
$statusRefusedColor: #E9A2AD;
$categoryRoute: #8DD7CF;
$categoryLight: #FBE192;
$categoryNeighboord: #a592fb;
$categoryWaste: #909090;
$categoryObject: #F3C19D;
$categoryOther: #E0E1E2;

$createColor: #0070c53f;
$edit: #f8a11e49;
$process: #7fd30042;

$infosbutton: #7fd30042;

$textButton: #4b4b4b;

$cancelButton: #d3258d41;
$confirmButton: #7fd30042;
// $backgroundBlocColor: rgb(217, 222, 225);
$backgroundDesktopColor: #d0e7f4;
$backgroundColor: #eaf4f9;
$backgroundModuleColor: #fff;
$borderModule: solid 0.2rem rgb(217, 229, 237);

$seconderyColor: #7c9eaf;

$fontColor: #FFFCF0;
